node_modules
logs
package-lock.json
.env
.env.local
.env.development
.env.development.local
.env.test
.env.test.local
.env.production
.env.production.local
.next
.out
.vercel
out
build
dist
.docusaurus
.cache
.yarn
yarn.lock
pnpm-lock.yaml
.pnp.cjs
